<div class="login-form-wrap">
    <h1 class="title center">Log In</h1>

    <form
        class="login-form"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
    >
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="user" [nzSize]="'large'">
                    <input
                        type="text"
                        formControlName="tenantIdentifier"
                        nz-input
                        placeholder="Organization Id"
                        [placeholder]="'Enter Organization Id'"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="user" [nzSize]="'large'">
                    <input
                        type="text"
                        formControlName="email"
                        nz-input
                        placeholder="Enter email"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Password: 123456">
                <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
                    <input
                        type="password"
                        autocomplete="on"
                        formControlName="password"
                        nz-input
                        placeholder="Enter password"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <div class="login-form-margin" nz-row>
            <div nz-col [nzSpan]="12">
                <label nz-checkbox>
                    <span>Remember me</span>
                </label>
            </div>
        </div>
        <button
            class="login-form-button login-form-margin"
            nz-button
            nzSize="large"
            [nzType]="'primary'"
        >
            Log in
        </button>
    </form>
</div>
