<div class="register-form-wrap">
    <h1 class="title center">Register</h1>
    <form
        class="login-form"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="submitForm()"
    >
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input the organization name!">
                <nz-input-group [nzSize]="'large'">
                    <input
                        type="text"
                        formControlName="name"
                        nz-input
                        placeholder="Organization Id"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input the email address!">
                <nz-input-group [nzSize]="'large'">
                    <input
                        type="text"
                        formControlName="adminEmail"
                        nz-input
                        placeholder="email"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please input the password!">
                <nz-input-group [nzSize]="'large'">
                    <input
                        type="password"
                        formControlName="password"
                        nz-input
                        placeholder="Enter Password"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Please confirm your password!">
                <nz-input-group [nzSize]="'large'">
                    <input
                        type="password"
                        formControlName="confirmPassword"
                        nz-input
                        placeholder="Confirm Password"
                    />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div
            class="login-form-margin"
            nz-row
            nzAlign="middle"
            nzJustify="space-between"
        >
            <div nz-col [nzSpan]="12">
                <button
                    class="login-form-button login-form-margin"
                    nz-button
                    nzSize="large"
                    [nzType]="'primary'"
                >
                    Register
                </button>
            </div>
            <div class="text-right" nz-col [nzSpan]="9">
                <a class="password-login" routerLink="/login/login-form">
                    Login with an existing account
                </a>
            </div>
        </div>
    </form>
</div>
