<nz-card
    class="fixed-tab"
    [ngClass]="{
        'fixed-collapsed': (isCollapsed$ | async),
        'fixed-over-mode': (isOverMode$ | async)
    }"
    [ngStyle]="{
        top: (themesOptions$ | async)!.hasTopArea ? '48px' : '0',
        left: !(themesOptions$ | async)!.hasNavArea ? '0' : ''
    }"
    [nzBodyStyle]="{ padding: 0 }"
    [nzBordered]="true"
>
    <nz-tabset
        [nzAnimated]="false"
        [nzTabPosition]="'top'"
        [nzSelectedIndex]="currentlySelectedTabIndex$ | async"
    >
        <nz-tab
            *ngFor="let tab of tabsSourceData; let i = index; trackBy: trackByTab"
            [nzTitle]="titleTemplate"
            (nzClick)="goPage(tab)"
        >
            <ng-template #titleTemplate>
                <span
                    class="text-center p-l-16 p-r-16 relative d-i-b"
                    style="min-width: 60px"
                >
                    {{ tab.title }}
                </span>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</nz-card>
